@tailwind base;
@tailwind components;
@tailwind utilities;


/* TODO - Need to explore more */
@variants hover {
  .App-link {
    text-color: theme("colors.red");
    /* @apply text-red-800; */
  }
}

/*
* Base styles of elements
*/
@layer base {
  *{
    padding: 0;
    margin: 0;
  }
  a {
    margin: 1px;
    /* @apply text-red-800; */
  }
  button {
    color: theme("colors.red");
    @apply text-xl;
  }

  button:hover {
    color: theme("colors.blue");
  }
  .appBase {
    /* @apply rounded-2xl border-black border-2; */
    @apply py-2 p-4;
  }
}
